:root{
    --background-color: #E2E6F9;
    --color-button: #5A0613;
    --color-title: #05111F;
    --color-topicos:#1F69B4;
    --color-campus: #4ABED9;
    --color-text-header: #000000; 
    --color-text: #FFFFFF;
}